@import "global/base";

$material-font-path: "/assets/fonts";

@font-face {
    font-family: 'Material-Design-Icons';
    src:url('#{material-font-path}/Material-Design-Icons.eot?3ocs8m');
    src:url('#{material-font-path}/Material-Design-Icons.eot?#iefix3ocs8m') format('embedded-opentype'),
        url('#{material-font-path}/Material-Design-Icons.woff?3ocs8m') format('woff'),
        url('#{material-font-path}/Material-Design-Icons.ttf?3ocs8m') format('truetype'),
        url('#{material-font-path}/Material-Design-Icons.svg?3ocs8m#Material-Design-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  @include rem(font-size, 24px); // Simple
  @include rem(border-bottom, 1px solid black); // Shorthand
  @include rem(box-shadow, 0 0 2px #ccc, inset 0 0 5px #eee); // Multiple values
  text-shadow: rem(1px 1px #eee, -1px -1px #eee); // Function and multiple values, warning: no fallback possible with rem function
  // Map support (Sass 3.3+)
  @include rem((
    margin: 20px 1rem,
    padding: 10px
  ));
}

