@import "../../../bower_components/sass-rem/rem";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

@import "global/base";
@import "global/typography";


@import "layout/layout";

@import "components/index-jumbotron";



#map-container {
    width: 100%;
    height: 400px;
}

#timeline-container {
    width: 100%;
}

#keys-container {
    > div {
        padding: 0 0.8rem;
    }
    .btn {
        padding: 0.85rem;
        box-sizing: border-box;
        border: 0.1rem solid #F26C4F;
        margin-bottom: 0.8rem;
        background-color: #F26C4F;

        &.active {
              background: #1B325F;
              border: 0.1rem solid #1B325F;
          }

        i {
            display: block;
            font-size: 2rem;
            margin-bottom: 0.3rem;
        }
        img {
            width: 2.3rem;
            height: 2.3rem;
        }
        span {
          white-space: pre-line;
          text-transform: none;
          font-weight: normal;
          font-size: 1.2rem;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 8.3rem;
          padding-top: 1.2rem;
          line-height: 1.6rem;
        }
    }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
    body {
        padding-top: 18rem;
    }
}
@media (max-width: $screen-sm-min) {
    .navbar-collapse.collapse {
        position: fixed;
        top: 7rem;
        bottom: 0;
        right: 0;
        background: #3f51b5;
        z-index: 100;
        min-height: 100% !important;
        display: block !important;
        visibility: visible !important;
        white-space: nowrap;
        border: none;
        box-sizing: border-box;
        padding: 0 !important;
        box-shadow: 0 0 .8rem #3f51b5;
        overflow: hidden !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        width: 90%;
        margin-right: -100%;
        ul {
            padding-left: 2rem;
        }
    }

    .navbar-collapse.hidden.in {
        margin-right: 0;
        li > a {
          border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
    }
}


.chart-title:not(:empty) {
    font-weight: 400;
    &:before {
        font-weight: 400;
        content: ': ';
    }
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}


path.highcharts-graph {
      stroke: rgba(240, 240, 0, 0);
}

.highcharts-label {
    text-shadow: 0.2rem 0.2rem 0.1rem #fff;
}

.highcharts-label image {
  width: 20px;
  height: 20px;
  transform: translateY(0.1rem);
}

.highcharts-tooltip span {
    min-width: 280px!important;
    max-width: 640px !important;
    overflow:auto;
    white-space:normal !important;
    opacity: 1 !important;
}

.highcharts-legend-item img {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.view-select {
    background-color: #F26C4F;
    border-color: darken(#F26C4F, 20%);

    &.active {
        background-color: #1B325F;
        border-color: darken(#1B325F, 20%);
    }
}
.list_icon {
    opacity: .6;
    width: 1.2em;
    height: 1.2em;
    float: right;

}