<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 panel panel-default">
        <div class="panel-body">
            <div class="alert alert-warning">No data</div>

        </div>
    </div>
</div>