<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 ">
        <div class="panel panel-primary">

            <div class="panel-heading">
                GE Power
            </div>
            <div class="panel-body">

                <dl>
                    <dt>Phone:</dt>
                    <dd>+001 518 385 2211</dd>
                    <dt>Water:</dt>
                    <dd>+001 215 355 3300</dd>
                    <dt>Oil and Gas:</dt>
                    <dd>+001 281 448 4410</dd>
                    <dt>Energy Management:</dt>
                    <dd>+001 678 844 6000</dd>
                    <dt>Industrial Solutions:</dt>
                    <dd>+001 860 747 7111</dd>
                </dl>



            </div>
        </div>
    </div>
