{{#eachByIdx countries}}
<div class="row" >
    <a name="{{code}}" style="display: block; position: relative; top:-100px;"></a>
    <div class="col-md-3">
        <div class="alert alert-success">{{this.name}}</div>
    </div>
    <div class="col-md-9 panel panel-default">
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dicta explicabo minima. Ratione ea, laboriosam ipsam repudiandae. Corporis, voluptas ipsa enim. Sunt labore distinctio aliquam, expedita, architecto rerum iste maxime!</p>
            <p>Dignissimos assumenda, consectetur eligendi dolores non doloremque quasi debitis voluptatibus. Error adipisci ea ullam, sapiente, quia nulla rerum architecto, explicabo suscipit dolorum voluptatem esse natus eaque corporis voluptate pariatur, ratione!</p>

        </div>
    </div>
</div>
{{/eachByIdx}}