{{#eachByIdx topics}}
<div class="row">
    <div class="col-md-3">
        <div class="alert alert-info">
        <img src="/assets/img/icons_black/{{img}}" class="list_icon" alt="">
        {{name}}</div>
    </div>
    <div class="col-md-9 panel panel-default">
        <div class="panel-body">
            <p>{{description}}</p>

        </div>
    </div>
</div>
{{/eachByIdx}}