<div class="row hidden">
  <div class="form-group">
    <div class="col-md-2 col-lg-1 col-xs-3 col-sm-2">
        <label class="control-label">Selected Source</label>
    </div>
    <div class="col-md-10 col-lg-11 col-xs-9 col-sm-10">
      <p class="form-control-static">
        <select class="form-control" id="data-source">
          <option value="timeline">Timeline Source 1</option>
          <option value="timeline_2">Timeline Source 2</option>
        </select>
      </p>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Select Country</h3>
            </div>
            <div class="panel-body">
                <div id="map-container">
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn btn-info btn-xs view-select pull-right" data-value="country">View by Countries</div>
                <div class="btn btn-info btn-xs js-map-on">Select All</div>
                <div class="btn btn-danger btn-xs js-map-off">Select None</div>
                <small class="text-info"><span class="text-muted">&nbsp;</span> or press SHIFT for multiply params</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Select Dimension of Change</h3>
            </div>
            <div class="panel-body">
                <div id="keys-container">
                    {{#eachByIdx topics}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <a href="#{{code}}" class="btn btn-block btn-raised btn-info" title="{{name}}" data-code="{{code}}">
                          {{#if img}}
                                <img src="/assets/img/icons/{{img}}">
                           {{else}}
                                <i class="{{icon}}"></i>
                           {{/if}}
                            <span>{{name}}</span>
                        </a>
                    </div>
                    {{/eachByIdx}}
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn btn-info btn-xs view-select pull-right active" data-value="topic">View by Dimensions</div>
                <div class="btn btn-info btn-xs js-topic-on">Select All</div>
                <div class="btn btn-danger btn-xs  js-topic-off">Select None</div>
                <small class="text-info"><span class="text-muted">&nbsp;</span> or press SHIFT for multiply params</small>
            </div>
        </div>
    </div>
</div>

<div id="timeline-panel" class="panel panel-success">
    <div class="panel-heading hidden">
        <h3 class="panel-title">Timeline<span class="chart-title"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div id="timeline-container"></div>
    </div>
</div>

