@import "global/base";
@import "layout/site-header";
@import "layout/site-footer";

html {
  @include rem-baseline;
}

body
{
    padding-top: $brand-height * 2 + 4;
}


@media (max-width: $screen-sm-min) {
    body {
        padding-top: 8rem;
    }

}

