@import "global/base";
@import "compass/css3/transition";

$brand-height: 4rem;

.site-header
{
    // height: 4rem;

    .navbar-inverse.navbar {
        background: #3A89C9;
        border-bottom: 0;
        @include transition(background .4s linear);

        .navbar-nav {
            margin-top: .4rem;

            > li {
                > a {
                    color: #fff;
                    line-height: $brand-height;

                    &:hover {
                        color: #ffdd00;
                    }
                }
            }
        }
    }
    &.slided {
        .navbar-inverse.navbar {
            background: rgba(0,0,0,0.8);
        }
    }
    &__navbar
    {
        margin: 0;
        // outline: .4rem solid blue;
        &--dinamic
        {
            // color: $color;
        }
        .navbar-brand {
            display: block;
            float: none;
            height: auto;
            margin-right: 80px;
            img {
                width: $brand-height;
            }
            .caption {
              // text-transform: uppercase;
              // line-height: $brand-height / 1.5;
              // font-size: $brand-height / 2;
              // font-weight: lighter;
              color: #fff;
              text-shadow: .1rem .1rem .1rem #000;
              margin-left: 1.3rem;
              font-size: 2rem;
              line-height: normal;

              .subtitle {
                  font-size: 1.2rem;
                  line-height: 1.6rem;
                  color: rgba(255, 255, 255, 0.7);
              }

          }
      }
  }
}

@media (max-width: $screen-sm-min) {
    .site-header__navbar .navbar-brand .caption{
        line-height: normal;
        font-size: 1.4rem;
       .subtitle {
           display: none;
        }
    }
}


.nav > li > a {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
