<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>{{title}}</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{> app/header}}
    {{!-- {{> index/slider}} --}}
    <div class="container">
        {{{body}}}
    </div>
    {{> app/footer}}
    <!-- scripts -->

    <script src="/assets/js/world.js"></script>
    <script src="/assets/js/script.js"></script>

    <!-- live reload -->
    <script src="//localhost:7001/livereload.js"></script>
</body>

</html>