<footer class="site-footer">
  <div class="container">
    &nbsp;<br>
    <p class="pull-right"><small><a href="mailto:miniwe@mail.ru">Webmaster</a></small></p>
    <p>&copy; Higher Education System Dynamics and Institutional Diversity in Post-Soviet Countries 2016</p>
  </div>
</footer>