<header class="site-header">
    <nav class="site-header__navbar site-header__navbar--dinamic navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand clearfix" href="/">

                    <div class="caption">{{{subtitle}}}
{{!--                         <div class="subtitle">{{{title}}}</div>
 --}}                    </div></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse hidden">
                    <ul class="nav navbar-nav navbar-right">
                        {{#each pages}}
                            {{#if this.countries}}
                                <li class="dropdown">
                                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{this.title}}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {{#eachByIdx this.countries}}
                                            <li><a href="/countries#{{this.code}}">{{this.name}}</a></li>
                                        {{/eachByIdx}}
                                    </ul>
                                </li>

                            {{else}}
                                <li {{#if this.countries}}class="dropdown"{{/if}}>
                                    <a href="{{this.url}}">{{this.title}}</a>
                                </li>
                            {{/if}}
                        {{/each}}

                        {{!-- <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">My Menu <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/categories">Categories</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>